<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
    </header>
    
    <section class="about">
        <h2>About Me</h2>
        <p>My name is victor Ogbo... will tell you more about myself shortly</p>
    </section>

    <section class="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>VectorJay</h3>
            <p>Here is to confirm that the automation for infrastructure deployment is working perfectly</p>
        </div>
        <!-- Add more projects as needed -->
    </section>

    <footer>
        <p>&copy; 2023 vectjay</p>
    </footer>
</body>
</html>
